/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Regular'), url('fonts/inter/Inter-Regular-slnt=0.ttf') format('truetype');
}

/* Inter Light */
@font-face {
  font-family: 'Inter Light';
  font-style: normal;
  src: local('Inter Light'), local('Inter-Light'), url('fonts/inter/Inter-Light-slnt=0.ttf') format('truetype');
}

