<?xml version="1.0" encoding="UTF-8"?>

<!--
    Default web.xml for CaptainCasa based web applications.
 -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">
         
  <display-name>JSF1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- ********** CONTEXT PARAMETERS *************************************** -->

  <!-- JBoss Deployment - use the reference implementation that comes
       with CapatainCasa by default -->
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- ********** FILTER DEFINITIONS *************************************** -->

  <filter>
    <filter-name>org.eclnt.jsfserver.util.CompressionFilter</filter-name>
    <filter-class>org.eclnt.jsfserver.util.CompressionFilter</filter-class>
  </filter>
  <!-- 
      Optional: filter for setting no-cache/no-store in response header
      <filter>
        <filter-name>org.eclnt.jsfserver.util.NoCacheNoStoreFilter</filter-name>
        <filter-class>org.eclnt.jsfserver.util.NoCacheNoStoreFilter</filter-class>
      </filter>
  -->
  <!-- 
      Optional: response logging filter: only for development usage!
      <filter>
        <filter-name>org.eclnt.jsfserver.util.ResponseLoggerFilter</filter-name>
        <filter-class>org.eclnt.jsfserver.util.ResponseLoggerFilter</filter-class>
      </filter>
  -->
  <filter>
    <filter-name>multipartFilter</filter-name>
    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>multipartFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>org.eclnt.jsfserver.util.SecurityFilter</filter-name>
    <filter-class>org.eclnt.jsfserver.util.SecurityFilter</filter-class>
  </filter>
    
  <filter>
    <filter-name>org.eclnt.jsfserver.util.ThreadingFilter</filter-name>
    <filter-class>org.eclnt.jsfserver.util.ThreadingFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>org.eclnt.jsfserver.util.CompressionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>org.eclnt.jsfserver.util.CompressionFilter</filter-name>
    <url-pattern>*.xml</url-pattern>
  </filter-mapping>
  <!-- 
      <filter-mapping>
        <filter-name>org.eclnt.jsfserver.util.NoCacheNoStoreFilter</filter-name>
        <url-pattern>*.js</url-pattern>
      </filter-mapping>
      <filter-mapping>
        <filter-name>org.eclnt.jsfserver.util.NoCacheNoStoreFilter</filter-name>
        <url-pattern>*.css</url-pattern>
      </filter-mapping>
  -->
  <filter-mapping>
    <filter-name>org.eclnt.jsfserver.util.SecurityFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <!--
      <filter-mapping>
        <filter-name>org.eclnt.jsfserver.util.ResponseLoggerFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping>
  -->
  <filter-mapping>
    <filter-name>org.eclnt.jsfserver.util.ThreadingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <!-- ********** SESSION LISTENERS **************************************** -->
  
  <listener>
    <listener-class>org.eclnt.jsfserver.util.HttpSessionListenerDelegator</listener-class>
  </listener>
  <listener>
    <listener-class>org.eclnt.jsfserver.util.CCServletContextListener</listener-class>
  </listener>

  <!-- ********** SPRING CONFIGURATION *********************************************** -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/springContext.xml</param-value>
  </context-param>

  <servlet>
    <servlet-name>springapp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springapp</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  <!-- ********** SPRING CONFIGURATION *********************************************** -->


  <!-- ********** SERVLET DEFINITIONS ************************************** -->

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="JnlpDownloadServlet">
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="AppletStarter">
    <servlet-name>AppletStarter</servlet-name>
    <servlet-class>org.eclnt.jsfserver.starter.AppletStarter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="FileUploadServlet">
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.htfileupload.FileUploadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="BufferedContentServlet">
    <servlet-name>BufferedContentServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.bufferedcontent.BufferedContentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="UploadContentServlet">
    <servlet-name>UploadContentServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.bufferedcontent.UploadContentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="SessionInvalidationServlet">
    <servlet-name>SessionInvalidationServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.util.SessionInvalidationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="AutoCompleteServlet">
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.util.AutoCompleteServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="ExtCalendarServlet">
    <servlet-name>ExtCalendarServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.calendar.ExtCalendarServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="LongPollingServlet">
    <servlet-name>LongPollingServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.polling.LongPollingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="ClientDirectUpdateHttpServlet">
    <servlet-name>ClientDirectUpdateHttpServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.directupdate.http.ClientDirectUpdateHttpServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="UI5Starter">
    <servlet-name>UI5Starter</servlet-name>
    <servlet-class>org.eclnt.jsfserver.starter.UI5Starter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="RISCStarter">
    <servlet-name>RISCStarter</servlet-name>
    <servlet-class>org.eclnt.jsfserver.starter.RISCStarter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="ImageSizeServlet">
    <servlet-name>ImageSizeServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.util.ImageSizeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="DynamicImageServlet">
    <servlet-name>DynamicImageServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.util.DynamicImageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet id="CLResourceAccessServlet">
    <servlet-name>CLResourceAccessServlet</servlet-name>
    <servlet-class>org.eclnt.jsfserver.util.CLResourceAccessServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!--
      Optional, only Tomcat, comet based LongPollingServlet
      <servlet id="LongPollingServletComet">
        <servlet-name>LongPollingServletComet</servlet-name>
        <servlet-class>org.eclnt.jsfserver.polling.comet.LongPollingServletComet</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
  -->
  <!--
      Optional, servlet 3.0 based long polling
      <servlet id="LongPollingServlet30API">
        <servlet-name>LongPollingServlet30API</servlet-name>
        <servlet-class>org.eclnt.jsfserver.polling.LongPollingServlet30API</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>        
      </servlet>
  -->
  <!--
      Optional, only used if providin server side loading of client literals
      <servlet id="ClientLiteralServlet">
        <servlet-name>ClientLiteralServlet</servlet-name>
        <servlet-class>org.eclnt.jsfserver.clientliteralloader.ClientLiteralServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>
  -->
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <url-pattern>*.jnlp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppletStarter</servlet-name>
    <url-pattern>*.ccapplet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppletStarter</servlet-name>
    <url-pattern>*.ccwebstart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppletStarter</servlet-name>
    <url-pattern>*.ccwebstartfx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>*.fileupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BufferedContentServlet</servlet-name>
    <url-pattern>*.ccbuffer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BufferedContentServlet</servlet-name>
    <url-pattern>/ccbuffer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadContentServlet</servlet-name>
    <url-pattern>*.ccupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadContentServlet</servlet-name>
    <url-pattern>*.ccuploadui5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionInvalidationServlet</servlet-name>
    <url-pattern>*.ccinvalidatesession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>*.ccautocomplete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExtCalendarServlet</servlet-name>
    <url-pattern>*.ccextcalendar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LongPollingServlet</servlet-name>
    <url-pattern>*.cclongpolling</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientDirectUpdateHttpServlet</servlet-name>
    <url-pattern>*.ccdirectupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UI5Starter</servlet-name>
    <url-pattern>*.ccui5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RISCStarter</servlet-name>
    <url-pattern>*.risc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageSizeServlet</servlet-name>
    <url-pattern>/ccimagesize/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicImageServlet</servlet-name>
    <url-pattern>/ccdynamicimage/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CLResourceAccessServlet</servlet-name>
    <url-pattern>*.ccclresource</url-pattern>
  </servlet-mapping>
  <!--
      Optional, only Tomcat, comet based LongPollingServlet
      <servlet-mapping>
        <servlet-name>LongPollingServletComet</servlet-name>
        <url-pattern>*.cclongpollingcomet</url-pattern>
      </servlet-mapping>
  -->
  <!--
      Optional, servlet 3.0 based LongPollingServlet
      <servlet-mapping>
        <servlet-name>LongPollingServlet30API</servlet-name>
        <url-pattern>*.cclongpolling30API</url-pattern>
      </servlet-mapping>
  -->
  <!--
      Optional
      <servlet-mapping>
        <servlet-name>ClientLiteralServlet</servlet-name>
        <url-pattern>*.ccclientliterals</url-pattern>
      </servlet-mapping>
  -->
  
  <!-- ********** SESSION MANAGEMENT *************************************** -->
  
  <session-config>
      <session-timeout>600</session-timeout>
      <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  
  <!-- ********** MIME TYPES *********************************************** -->
  
  <mime-mapping>
    <extension>jnlp</extension>
    <mime-type>application/x-java-jnlp-file</mime-type>
  </mime-mapping>


</web-app>